@charset "UTF-8";

    
    main {
        position: relative;
    }
    aside hr{
        width: 195px;
        margin: 2px;
    }
    
    
   
    aside{
        background-color: rgb(218, 218, 218);
        padding: 5px 0px;
        margin: auto;
        position: absolute;
        margin: 0px 10px;
        top: 26%;
        left: 5px;
        width: 245px;
    }
    
    div.Atalho-container {
        height: 225px;
        columns: 170px 1;
        width: 202px;
        justify-content: center
        
    }
   

    div.itens-atalho li {
        list-style: none;
        padding: 1px 0px;
        margin: 1px 0px;
        text-align: center;
        font-weight: bold;
        font-size: 10pt;
        width: 225px;
    }

    aside {
        background-color: rgb(218, 218, 218);
        padding: 10px;
        margin: auto;
    
    }
    
    aside h5 {
        padding: 0px 15px;
        margin: 0px;
        
    
    }
    
    ul#lista-atalho {
        list-style-type: none;
        padding: 0px;
        margin: 0px;
    }
    
    aside li {
        background-color: rgb(255, 255, 255);
        border: 0.5px solid rgba(0, 0, 0, 0.438);
        border-radius: 3px;
        padding: 5px;
        margin: 0px 2px;
        display: block;
        text-align: center;
        text-shadow: none;
    }
    
    aside li:hover {
        background-color: #33552c96;
        color: white;
    }
    
    aside a {
        color: #33552C;
        text-decoration: none;
        display: block;
        padding: 5px;
        font-weight: bold;
        text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.445);
        text-shadow: none;
    }
    
    aside a:hover {
        background-color: #33552c96;
        color: white;
        text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.445);
    }